<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychology</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/LayoutStyle.css')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <section class="logo-container">
            <img src="{{ url_for('static', filename='favicon.png')}}" alt="Logo">
        </section>
        <nav class="menu-container">
            <ul>
                <li>
                    <a href="{{url_for('psychology_page.Psychology')}}" class="link {{'active' if request.endpoint == 'psychology_page.Psychology'}}">Psicología</a>
                </li>
                <li>
                    <a href="{{url_for('wellbeing_page.Wellbeing')}}" class="link {{'active' if request.endpoint == 'wellbeing_page.Wellbeing'}}">Bienestar emocional</a>
                </li>
                <li>
                    <a href="{{url_for('selfesteem_page.Selfesteem')}}" class="link {{'active' if request.endpoint == 'selfesteem_page.Selfesteem'}}">Autoestima</a>
                </li>
                <li>
                    <a href="{{url_for('social_page.Social')}}" class="link {{'active' if request.endpoint == 'social_page.Social'}}">Relaciones sociales</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <section class="navigator-container">
            <a href="{{url_for('psychology_page.Psychology')}}" class="navigator-option {{'active-navigator' if request.endpoint == 'psychology_page.Psychology'}}">
                <span>01</span>
            </a>
            <a href="{{url_for('wellbeing_page.Wellbeing')}}" class="navigator-option {{'active-navigator' if request.endpoint == 'wellbeing_page.Wellbeing'}}">
                <span>02</span>
            </a>
            <a href="{{url_for('selfesteem_page.Selfesteem')}}" class="navigator-option {{'active-navigator' if request.endpoint == 'selfesteem_page.Selfesteem'}}">
                <span>03</span>
            </a>
            <a href="{{url_for('social_page.Social')}}" class="navigator-option {{'active-navigator' if request.endpoint == 'social_page.Social'}}">
                <span>04</span>
            </a>
            <a href="{{url_for('psychology_page.Psychology')}}" class="navigator-option">
                <span>Inicio</span>
            </a>
        </section>
        <section class="separator-footer">
            <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #FD749B; width: 140%; height: 320px; transform: rotate(180deg);"
          >
            <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
          </svg>
        </section>
    </footer>
    {% block script %}{% endblock %}
    <script src="{{ url_for('static', filename='js/stickyHeader.js')}}"></script>
</body>
</html>