{% extends '/layout/Layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ResultadoStyle.css')}}"/>
{% endblock %}

{% block main %}
  <article class="presentation-container">
    <section class="presentation-content">
        <h1>Resultados</h1>
    </section>
    <section class="presentation-img">
        <img src="../../../static/img/ilustrations/Online test-amico.svg" alt="presentation-img">
    </section>
    <section class="separator-bottom">
      <svg
          preserveAspectRatio="none"
          viewBox="0 0 1200 120"
          xmlns="http://www.w3.org/2000/svg"
          style="fill: #ffffff; width: 100%; height: 96px; transform: rotate(180deg)"
        >
          <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
      </svg>
    </section>
  </article>
  <article class="resultado-container">
    <div class="puntaje">
        Puntaje total: {{ resultado.puntaje }} / 200
    </div>
    <div class="mensaje {{resultado.nivel}}">
        {{ resultado.mensaje }}
    </div>
    <a href="/psychology" class="button-secondary">Inicio</a>
  </article>
  <section class="separator-footer">
    <svg
    preserveAspectRatio="none"
    viewBox="0 0 1200 120"
    xmlns="http://www.w3.org/2000/svg"
    style="fill: #FD749B; width: 140%; height: 320px; transform: rotate(180deg);"
  >
    <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
  </svg>
</section>
{% endblock %}
