.selfesteem-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    margin: 6rem 15%;
    border-width: 1px;
    border-radius: 1rem;
    overflow: hidden;
    border-style: solid;
    border-color: #FD749B;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
    }

    p{
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
    }
}

.img-container{
    width: 100%;
    height: 35rem;
    overflow: hidden;

    img{
        width: 100%;
    }
}